body{
    margin: 0px;
    font-family: 'Calibri';
    height: 100%;
    width: 100%;
    background-color: #17151a;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table > tr {
    border-bottom: 1px solid #2d2d2d;
    width: 100%;
}

table > tr > td{
    width: 45%;
    padding: 10px;
    color: white;
    font-size: 20px;
}